@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
    background-color: #000000;
    color: #39FF14;
    margin: 0;
    padding: 0;
}

.qmd-page, .qmd-page-content, .container, .container-fluid {
    max-width: 100% !important; /* occupa tutta la larghezza */
    width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
    color: #39FF14;
}

a {
    color: #00FF00;
    text-decoration: none;
    transition: color 0.3s;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.column {
    flex: 1;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

/* Contatti */
.contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts a img {
    vertical-align: middle;
    margin-right: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #39FF14;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #111111;
}

pre, code {
    background-color: #111111;
    color: #39FF14;
    font-family: 'Orbitron', monospace;
    padding: 5px;
    border-radius: 5px;
}

section {
    margin-bottom: 30px;
}
